<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wanderlust</title>
</head>

<body>
  <form action="/blog" method="POST">

  	<label>Author: </label>
    <input type="text" author="author" />

  	<label>Title: </label>
    <input type="text" title="title" />

    <label>Entry: </label>
    <input type="text" entry="entry" />

    <label>Tags: </label>
    <input type="text" tags="tags" />

    <label>Image: </label>
    <input type="text" image="image" />


  </form>
</body>
</html>