<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wanderlust</title>
</head>

<body>
  <h1 align="center">Trending Articles</h1>

  <div id="wrapper">
    <div id="column">
      <div class="pin">
      {{#microposts}}
        <ul id="posts">
          <li><img src='{{image_url}}' id="picture"></li>
          <li>{{mtitle}}</li>
          <li>{{post}}</li>
          <li><a href="/micropost/{{id}}"> Read more... </a> </li>
        </ul>
      {{/microposts}}
      </div> 

    </div>
  </div>


  <div>
    <a href="/micropost/new">Create New Entry</a>  
  </div>

</body>
</html>


